 *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
 
@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
:root {
  --bg-page: #1a1a1a;
  --text-color: #f3f3f3;
  --card-bg: #202020;
  --icon-bg: #45423C;
  --blue: #0870f8;
  --blue-rgb: 8, 112, 248;
  --orange: #FF9232;
  --g-purple: linear-gradient(30deg, #85f, #9966ff);
  --g-yellow: linear-gradient(30deg, #fc0, #fc0);
  --g-red: linear-gradient(30deg, #f36, #f24);
  --g-blue: linear-gradient(30deg, #0cf, #0af);
  --g-purple: linear-gradient(30deg, #85f, #9966ff);
  --range: 0%;
  --shadow: rgba(0, 6, 39, .1);
  --light-shadow: rgba(255, 255, 255, .8);
  --light-shadow-2: rgba(255, 255, 255, .1);
}
 
nav{
      
      display: flex;
      height: 80px;
      width: 100%;
      background: #1b1b1b;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px 0 100px;
      flex-wrap: wrap;
      position: sticky;
      z-index: 2;
    }
    nav .logos{
      color: #fff;
      font-size: 35px;
      font-weight: 600;
    }
    nav ul{
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }
    nav ul li{
      margin: 0 5px;
    }
    nav ul li a{
      color: #f2f2f2;
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      padding: 8px 15px;
      border-radius: 5px;
      letter-spacing: 1px;
      transition: all 0.3s ease;
    }
    nav ul li a.activee,
    nav ul li a:hover{
      color: #111;
      background: #fff;
    }
    nav .menu-btnn i{
      color: #fff;
      font-size: 22px;
      cursor: pointer;
      display: none;
    }
    input[type="checkbox"]{
      display: none;
    }
    @media (max-width: 1000px){
      nav{
        padding: 0 40px 0 50px;z-index: 2223;
      }
    }
    @media (max-width: 920px) {
      nav .menu-btnn i{
        display: block;z-index: 2223;
      }
      #clickk:checked ~ .menu-btnn i:before{
        content: "\f00d";
      }
      nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
      }
      #clickk:checked ~ ul{
        left: 0;
      }
      nav ul li{
        width: 100%;
        margin: 40px 0;
      }
      nav ul li a{
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      #clickk:checked ~ ul li a{
        margin-left: 0px;
      }
      nav ul li a.activee,
      nav ul li a:hover{
        background: none;
        color: cyan;
      }
    }
@media (max-width:350px){
  .logos{
    font-size: 15px;
  }
  .carousel{
     
    width: 300px;
  }
}
@media (max-width:330px){
   
  .carousel{
     
    width: 290px;
  }
}
    











.headerr{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 60px;
      width: 85%;
      margin: auto;
      margin-top: 70px;
       
}

@media (max-width:1000px){
      .headerr{
     
            grid-template-columns: 1fr;
      }
}


 
 
 
@media (max-width:990px){
       
  .headerr{
         
        grid-gap: 30px;
  }
  
}
 
 
@media (max-width:777px){
       
      .headerr{
            grid-template-columns: 1fr;
            grid-gap: 30px;
      }
      
}
@media (max-width:400px){
  .section-1{
    width: 100%;
  }
}
.yanf{
       display: grid;
       grid-template-columns: 1fr ;
        
       grid-gap: 20px;
       
       
}
.yanpost{
   display: flex;
    
}
.contentt{
  margin-left: 23px;
}
 
@media (max-width:430px){
  .section-1{
    width: 100%;
  }
}




.section-1{
     
      width: 80%;
      margin: auto;
      margin-top: 110px;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(301px,1fr));
      gap: 16px;
      grid-row-gap: 40px;
}
.secimg{
  width: 310px;
  height: 260px;
  background: url(208x200.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  
}
 
.sec-cont p{
      margin-top: 10px;
      padding-right: 30px;
      text-indent: 10px;
}
.seccont{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 310px;
  height: 250px;
  padding: 10px;
}

@media (max-width:1250px){
  .contentt h4{
    font-size: 21px;
  }
}
@media (max-width:1200px){
  .contentt h4{
    font-size: 11px;
  }
}
@media (max-width:1250px){
  .contentt h4{
    font-size: 21px;
  }
}
@media (max-width:368px){
  .section-1 .secimg{
    
      width: 300px;
      height: 260px;
  
}

.seccont{
   
  width: 300px;
  height: 250px;
}}
 
footer{
      margin-top: 50px;
      background-color: black;
      padding: 40px;
       
      color: white;
       
}
.footerr{
      width: 60%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
}
   


   
@media (max-width:400px){
  .section-1{
    width: 90%;
  }
}
 
.badge{
  margin-top: 19px;
}

/* .cat-sec{
  width: 100%;
  height: 70vh;
  margin-top: 100px;
  background: url(jesusdinner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7;

  
  
  
}
 
.tarih-sec{
  width: 90%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.tarih-sec-cont{
  width: 300px;
  height: 300px;
   
  background-color: red;
}


@media (max-width:1000px){
  .tarih-sec-cont-1{
    display: none;
  }
}
@media (max-width:756px){
  .tarih-sec-cont-2{
    display: none;
  }
}
@media (max-width:520px){
  .tarih-sec-cont-3{
    display: none;
  }
} */

 
.hide {
  display: none;
  visibility: hidden;
  height: 0;
}

.pgn {
  display: flex;
  align-items: center;
  margin-top: 80px;
  justify-content: center;
   
}
@media (max-width:352px){
  .pgn .txtt{
      display: none;
  }
}

.arrow\:text {
  display: block;
   
  font-size: 13px;
   
}

.pagination\:number {
  --size: 32px;
  --margin: 6px;
  margin: 0 var(--margin);
  border-radius: 6px;
  background: #202020;
  max-width: auto;
  min-width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 6px;
  background: var(--bg-page);
  color: var(--text-color);
}
@media (hover: hover) {
  .pagination\:number:hover {
    background: #282828;
  }
}
.pagination\:number:active {
  background: #282828;
}

.pagination\:active {
  background: #282828;
  position: relative;
}